﻿@model EventRSVP.Models.RegistrationModel

@{
    ViewBag.Title = "Thank You";
}


    <fieldset>
        <legend>Event Registration</legend>
<h2>Thank you for registering your interest. You shall receive a confirmation email from the organiser within the next 3 working days. </h2>
<br />
@Html.ActionLink("Back to Registration Form", "Register", "Registration",  new { EventID = Model.EventId }, "")
        </fieldset>