﻿@model IEnumerable<EventRSVP.Event>

@{
    ViewBag.Title = "Index";
}

<div class="row">
<h2 class="col-lg-10">Events RSVP</h2>
    <div class="col-lg-2">
        <br />
        <a href="~/Event/Create" class="btn btn-primary">Create</a>
         @Html.ActionLink("Logout", "Logout", new { }, new { @class = "btn btn-default"})
        </div>
</div>

<table class="table table-striped">
    <tr>
        <th>Event Title</th>
        <th>Company Name</th>
        <th>Company Email</th>
        <th>Password</th>
        <th>Registration Link</th>
        <th>Registration List</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>@Html.ActionLink(Url.Action("Register", "Registration", new { EventID = item.Id }), "Register", "Registration",  new { EventID = item.Id }, "")</td>
        <td>@Html.ActionLink("Registration List", "Login", "Registration",  new { EventID = item.Id }, "")</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { onclick = "return confirm('Do you really want to delete this Event?')" })
        </td>
    </tr>
}

</table>
