﻿@model EventRSVP.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
    <div class="form-signin">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <h2 class="text-center">Events RSVP&nbsp;&nbsp;&nbsp;</h2>
        <br />
        <br />
        <div class="form-group">    
                @Html.ValidationMessageFor(model => model.PasswordLogin)   
                @Html.PasswordFor(model => model.PasswordLogin, new {@placeholder = "Password" })
        </div>
    
        <p>
            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />
        </p>
    }
</div>
